<div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Dashboard</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-user-md fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">

                                            <div>See who else is your colleague!</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="index.html#admin_doctors">
                                    <div class="panel-footer">
                                        <span class="pull-left">View in details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-calendar fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">

                                            <div>See are there any new appointments for you!</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="index.html#admin_appointments">
                                    <div class="panel-footer">
                                        <span class="pull-left">View in details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-stethoscope fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">

                                            <div>See all registered patients in our clinic!</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="index.html#admin_patients">
                                    <div class="panel-footer">
                                        <span class="pull-left">View in details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-user fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">

                                            <div>See or edit your profile</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="index.html#admin">
                                    <div class="panel-footer">
                                        <span class="pull-left">View in details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-8">

                            <!-- /.panel -->

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-comment fa-fw"></i> Feedbacks from our customers
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <ul class="timeline">
                                        <li>
                                            <div class="timeline-badge"><i class="fa fa-thumbs-up" style="color:black;"></i>
                                            </div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h4 class="timeline-title">Pretty much satisfied</h4>


                                                </div>
                                                <div class="timeline-body">
                                                    <p>Nothing special to say other than to praise the application and the doctors.
                                                    I scheduled an appointment and everything went fine. I recommend it to everybody</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="timeline-inverted">
                                            <div class="timeline-badge warning"><i class="fa fa-exclamation"></i>
                                            </div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h4 class="timeline-title">Doctor was late a little bit</h4>
                                                </div>
                                                <div class="timeline-body">
                                                  <p>Application works preaty much fine, all precise and detailed. Doctor examined
                                                  the patient in the profesional manner, she was so polite but the only thing which I did not like is the late arrival.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="timeline-badge danger"><i class="fa fa-frown"></i>
                                            </div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h4 class="timeline-title">My appointment was cancelled</h4>
                                                </div>
                                                <div class="timeline-body">
                                                    <p>Unfortunately I had to grade the app with the lowest grade because
                                                    my appointment was cancelled.</p>
                                                </div>
                                            </div>
                                        </li>




                                    </ul>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-8 -->

                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->

            <script type="text/javascript">
              var user_token = AUtils.parseJwt(window.localStorage.getItem("token"));
              if (user_token.role != "admin") {

                 window.location = "index.html";

                     }
            </script>
