<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">Click below to add new detail about specific appointment</h1>
          </div>
            <!-- /.col-lg-12 -->
</div>
        <!-- /.row -->
        <button type="button" style="background-color:green;"class="btn btn-primary btn-lg" data-toggle="modal" data-target="#register-new-detail-modal">
            Register new apointment detail
        </button> <br> <br>
        <!-- /.row -->

    <!-- /.container-fluid -->

<!-- staropravo -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">List of all appointments </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
        <!-- /.row -->


        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">


                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="doctor-appointments-list-table"class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Appointment Id</th>
                                        <th>Scheduled at</th>
                                        <th>Reserved at</th>
                                        <th>Office</th>
                                        <th>Patient's ID</th>
                                        <th>Doctor's ID</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX">
                                        <td>Trident</td>
                                        <td>Trident</td>
                                        <td>Trident</td>
                                        <td>Trident</td>
                                        <td>Trident</td>
                                        <td>Trident</td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>


                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

<div class="modal fade" id="view-appointment-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="card">
    <div class="card-body">
       <img src="./assets/appointment-512.png" width="200" height="200" class="img-radius" alt="User-Profile-Image">

      <h3 id="problem"><b>Problem description</b></h3>
      <h3 id="prescription"><b>Prescription<b></h3>
      <h3 style="white-space: nowrap;" id="type"><b>Type</b></h3>
      <p style="white-space: nowrap;" id="detail_id"><i><b>Detail id</b></i></p>

    </div>
  </div>


        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div> </div>

<div class="modal fade" id="see-patient-profile-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="card">
    <div class="card-body">
       <img src="./assets/user profile.png" class="img-radius" alt="User-Profile-Image">
      <h3 style="white-space: nowrap;"id="fullname"><b>Fullname</b></h3>
      <h3 style="white-space: nowrap;"id="email"><b><i>Email</i></b></h3>
    </div>
  </div>


        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div> </div>





        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div> </div>

<div class="modal fade" id="register-new-detail-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <div class="modal-body">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      Register new appointment detail
                  </div>
                  <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form role="form" id="register-new-detail">
                                <div class="form-group">

                                    <input class="form-control" type="text" name="p" placeholder="Describe the problem">

                                </div>
                                <div class="form-group">

                                    <input class="form-control" type="text" name="prescription" placeholder="Describe the prescription">
                                </div>


                                <div class="form-group">
                                    <label>Select the type of appointment</label>
                                    <select class="form-control" name="type">
                                        <option>Blood examination</option>
                                        <option>Dental examination</option>
                                        <option>Surgical examination</option>
                                        <option>Eye examination</option>
                                        <option>Pulmonary examination</option>
                                    </select>
                                </div>
                                <div class="form-group-test">
                                    <label>Select the appointment</label>
                                    <select multiple class="form-control" name="appointment_id" id="appointment_id">
                                        <option>here</option>

                                    </select>
                                </div>

                                <button type="submit" onClick="registerDetail()" class="btn btn-default">Submit Button</button>
                                <button type="reset" class="btn btn-default">Reset Button</button>
                            </form>
                        </div>

                        <!-- /.col-lg-6 (nested) -->
                    </div>
                      <!-- /.row (nested) -->
                  </div>
                  <!-- /.panel-body -->
              </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="./assets/js/utils.js"></script>
<script type="text/javascript">
  var user_token = AUtils.parseJwt(window.localStorage.getItem("token"));
  if (user_token.role != "admin") {

     window.location = "index.html";

         }
  if(sessionStorage.getItem("showmsg")=='detail'){
   toastr.success("Detail registered successfully");

     sessionStorage.removeItem("showmsg");
     setTimeout(function(){
              window.location = 'index.html';
           }, 1500);
  }
  // staro pravo odavde vaznooo

   getAllAppointments();
   SeeAppointmentsForForm();

  /* function getAllAppointments() {
    $.ajax({
         url: "http://localhost/doctorappointment/api/doctor/appointments",
         type: "GET",
         beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
         success: function(data) {
            console.log(data);
                var html ="";
                for(var i =0 ; i<data.length; i++) {
                  html +='<tr class="odd">'
                    +'<td>'+data[i].scheduled_at+'</td>'
                    +'<td>'+data[i].reserved_at+'</td>'
                    +'<td>'+data[i].office+'</td>';
                }
                  $("#doctors-appointments-list-table tbody").html(html);
             }
      });
  } */

  function getAllAppointments() {

    $("#doctor-appointments-list-table").DataTable({

      processing : true,
      serverSide : true,
      bDestory : true,
    //  pagingType : "simple",
      searching : false,
      ordering : false,
      preDrawCallback : function (settings) {
        if (settings.jqXHR) {
          settings._iRecordsTotal = settings.jqXHR.getResponseHeader('total-records');
        settings._iRecordsDisplay = settings.jqXHR.getResponseHeader('total-records');
        }
      },
    responsive:true,

      /*
      "language": {
        "lengthMenu": "Display _MENU_ records per page",
       "zeroRecords": "Nothing found - sorry",
       "info": "Showing page _PAGE_",
       "infoEmpty": "Showing page _PAGE_",
       "infoFiltered": ""
     }, */
      "ajax" : {
        url : "http://localhost/doctorappointment/api/doctor/appointments",
        type : "GET",
        beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
        dataSrc: function (resp) {
          console.log(resp);
          return resp;
        },
        data :  function (d) {
        /*  d.offset=d.start;
          d.limit=d.length;
          d.search=d.search.value;
          d.order = encodeURIComponent((d.order[0].dir == 'asc' ? "-" : "+")+d.columns[d.order[0].column].data); */

          delete d.start;
          delete d.length;
          delete d.column;
          delete d.draw;

        } },
        /*initComplete: function (settings){
          settings._iRecordsTotal=2;
          settings._iRecordsDisplay=2;
          settings.iDraw=2;
        }, */

      columns: [
          { "data" : "appointment_id",
          "render" : function (data,type,row,meta) {
        return '<span class="badge">'+data+'</span><a class="pull-right" style="font-size: 15px; cursor: pointer;" onclick="SeeAppointment('+data+')"><i class="fa fa-edit"></i></a>';
        }
        },
        { "data" : "scheduled_at"},
        { "data" : "reserved_at"},
        { "data" : "office"},
        { "data" : "patient_id",
        "render" : function (data,type,row,meta) {
      return '<div style="min-width: 200px;"><span class="badge">'+data+'</span><a class="pull-right" style="font-size: 15px; cursor: pointer;" onclick="SeePatient('+data+')"><i class="fa fa-edit"></i></a></div>';
      }

      },
        { "data" : "doctor_id"}


      ],
    }).on('xhr.dt',function(e,settings,json,xhr) {
      console.log(settings);



    }); }


    function SeeAppointment(appointment_id) {

$("#view-appointment-modal").modal("show");

RestClient.get("http://localhost/doctorappointment/api/doctor/details/"+appointment_id,function(data){

  document.getElementById("detail_id").innerHTML = "Detail id: "+data.app_detail_id;
  document.getElementById("problem").innerHTML = "Problem description: "+data.p;
  document.getElementById("prescription").innerHTML = "Prescription: "+data.prescription;
  document.getElementById("type").innerHTML = "Type: "+data.type;
});


}

      function SeePatient(patient_id) {

      $("#see-patient-profile-modal").modal("show");

      RestClient.get("http://localhost/doctorappointment/api/patients/"+patient_id,function(data){

        document.getElementById("fullname").innerHTML = "Full name: "+data.patient_name+" "+data.patient_surname;;
        document.getElementById("email").innerHTML = "E-mail: "+data.patient_email;

      });


       }


       function registerDetail() {

         registerDetail=AUtils.jsonize_form("#register-new-detail");
         RestClient.post("http://localhost/doctorappointment/api/doctor/appointments/details/register",registerDetail,function(data) {

             $("#register-new-detail-modal").modal("hide");
         });
           }


           function SeeAppointmentsForForm() {

             RestClient.get("http://localhost/doctorappointment/api/doctor/appointments",function(data){

               var html ="";
               for(var i =0 ; i<data.length; i++) {
                 html +=
                   '<option>'+data[i].appointment_id+'</option>';

               }
                 $("#appointment_id").html(html);

             });

            }




</script>
