<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">Click below to add new detail about specific appointment</h1>
          </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <button type="button" style="background-color:green;"class="btn btn-primary btn-lg" data-toggle="modal" data-target="#register-new-detail-modal">
            Register new apointment detail
        </button>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>




<div class="modal fade" id="register-new-detail-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <div class="modal-body">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      Register new appointment detail
                  </div>
                  <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form role="form" id="register-new-detail">
                                <div class="form-group">

                                    <input class="form-control" type="text" name="p" placeholder="Describe the problem">

                                </div>
                                <div class="form-group">

                                    <input class="form-control" type="text" name="prescription" placeholder="Describe the prescription">
                                </div>


                                <div class="form-group">
                                    <label>Select the type of appointment</label>
                                    <select class="form-control" name="type">
                                        <option>Blood examination</option>
                                        <option>Dental examination</option>
                                        <option>Surgical examination</option>
                                        <option>Eye examination</option>
                                        <option>Pulmonary examination</option>
                                    </select>
                                </div>
                                <div class="form-group-test">
                                    <label>Select the appointment</label>
                                    <select multiple class="form-control" name="appointment_id" id="appointment_id">
                                        <option>here</option>

                                    </select>
                                </div>

                                <button type="submit" onClick="registerDetail()" class="btn btn-default">Submit Button</button>
                                <button type="reset" class="btn btn-default">Reset Button</button>
                            </form>
                        </div>

                        <!-- /.col-lg-6 (nested) -->
                    </div>
                      <!-- /.row (nested) -->
                  </div>
                  <!-- /.panel-body -->
              </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script src="./assets/js/utils.js"></script>
<script type="text/javascript">

 if(sessionStorage.getItem("showmsg")=='detail'){
  toastr.success("Detail registered successfully");

    sessionStorage.removeItem("showmsg");
    setTimeout(function(){
            window.location = 'index.html';
         }, 1500);
}

 test();
function registerDetail() {

  registerDetail=jsonize_form("#register-new-detail");
  sessionStorage.setItem("showmsg", "detail");
  console.log(registerDetail);
  $.ajax({
       url: "http://localhost/doctorappointment/api/doctor/appointments/details/register",
       type: "POST",
       data: registerDetail,

       beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
       success: function(data) {


        console.log(data);
        $("#register-new-detail").trigger("reset");
        $("#register-new-detail-modal").modal("hide");


        },
        error:function (jqXHR, textStatus, errorThrown) {
          console.log(jqXHR);

        }
    });  }

    function test() {

    $.ajax({
        async: false,
         url: "http://localhost/doctorappointment/api/doctor/appointments",
         type: "GET",
         beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
         success: function(data) {
            console.log(data);
                var html ="";
                for(var i =0 ; i<data.length; i++) {
                  html +=
                    '<option>'+data[i].appointment_id+'</option>';

                }
                  $("#appointment_id").html(html);
                //  $("#appointment_id").DataTable();

             }
      }); }


</script>
